@tailwind base;

@layer base {
  h1 {
    @apply text-7xl;
    font-family: Lexend Deca, sans-serif;
  }
  h2 {
    font-family: "Inter", sans-serif;
    @apply text-3xl;
  }
  h3 {
    font-family: "Inter", sans-serif;
    @apply text-xl;
  }
  p,
  ul,
  a {
    font-family: "Inter", sans-serif;
    @apply text-lg;
  }
  button {
    @apply rounded-full;
  }
}

@tailwind components;
@tailwind utilities;
